@tailwind base;
@tailwind components;
@tailwind utilities;

/* الوضع العادي */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --nav-bg: #ffffff;
  --nav-text: #000000;
}

/* الوضع الداكن */
body.dark-mode {
  --bg-color: #060602;
  --text-color: #ffffff;
  --nav-bg: #000000;
  --nav-text: #ffffff;
}

/* تطبيق الألوان */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.4s, color 0.4s;
}

nav {
  background-color: var(--nav-bg);
  color: var(--nav-text);
  transition: background-color 0.4s, color 0.4s;
}
html {
  scroll-behavior: smooth;
}